@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-stone-100 text-stone-800;
	}
	h1 {
		position: relative;
		font-family: "Permanent Marker", cursive;
		@apply text-5xl font-bold text-center text-stone-700;
		span {
			position: relative;
			z-index: 2;
		}
		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			opacity: 0.3;
			aspect-ratio: 1 / 1;
			width: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -70%);
			background-image: url(@/assets/images/logo_bg.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

@layer components {
	.btn {
		@apply px-4 py-2 rounded-lg font-semibold transition-all duration-200;
	}

	.btn-primary {
		@apply bg-slate-500 text-white hover:bg-amber-800 active:scale-95;
	}

	.btn-secondary {
		@apply bg-gray-200 text-gray-800 hover:bg-gray-300 active:scale-95;
	}

	.btn-danger {
		@apply bg-red-500 text-white hover:bg-red-600 active:scale-95;
	}

	.input {
		@apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent;
	}

	.card {
		box-shadow: 0 0 4px 8px #fff;
		@apply bg-white rounded-md;
		/* @apply bg-white rounded-md shadow-lg p-8 border border-stone-300; */
	}
}
